.auth-container {
  padding: 20px;
  gap: 15px;
  width: fit-content;
  margin: auto;
}

.auth-container button {
  width: 100%;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-container .p-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.auth-container input {
  min-width: 300px;
}
