*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
}

header {
  padding: 1rem 0;
  position: fixed;
  z-index: 1000;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: var(--p-slate-500);
  box-shadow: 1px 1px 5px var(--p-slate-200);
}

section {
  width: 90%;
  margin: 5rem auto;
  padding-top: 1rem;
}
